/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

h1 {
    margin: 0;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 1000; /* Ensure the menu icon is above other elements */
}

.bar {
    background-color: white;
    height: 3px;
    width: 30px;
    margin: 5px 0;
}
#nav-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #444;
    padding: 15px;
    border-radius: 8px;
    z-index: 999; /* Ensure the menu is above other content */
}
#nav-menu.active {
    display: block;
}
.nav-link {
    display: block;
    color: white;
    text-decoration: none;
    margin: 10px 0;
    background-color: yellow;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}
.nav-link:hover {
    background-color: #ccc;
    color: black;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}
/* Game Styles */
.game-container {
    margin: 20px;
}
.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
}
.card {
    width: 100px;
    height: 100px;
    background-color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 3rem; /* Adjust this value to control emoji size */
    color: #333;
    border-radius: 5px;
}
.card span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    line-height: 100px; /* Center emoji vertically */
}

.card.flipped {
    background-color: #fff;
    color: #000;
}

.card.matched {
    background-color: #0f0;
    color: #000;
}
